<h2>Cartões cadastrados</h2>


<a href="/usuarios/{{usuario.id}}/novoCartao">Cadastrar Cartão</a>






<table border="1">
    <tr> <!-- table row -->
        <th>Nome</th>
        <th>Código de Segurança</th>
        <th>Numro</th>
    </tr>
    {{#each cartoes}}
    <tr>
        <td>{{this.numero}}</td>
        <td>{{this.nome}}</td>
        <td>
            <a href="/usuarios/{{this.id}}/update">Atualizar</a>
            <form action="/usuarios/{{this.id}}/delete" method="post">
            <input type="submit" value="Excluir"/>
            </form>
            <a href="/usuarios/{{this.id}}"/>
        </td>
        
    </tr>
    {{/each}}
</table>